<div class="d-flex">
  <app-nav class="nav-menu"></app-nav>
  <div class="content container">
    <div class="container-full" style="position: relative;">
      <div class="image-background">
        <div class="worker-info" style="position: absolute; right: 200px; top: 250px; z-index: 1;">
          <div class="worker-card">
            <img src="/assets/img/worker1.jpg" alt="Trabajador 1" class="worker-image">
            <p>Elsa Huamani Cunyas</p>
            <a href=""><i class="fas fa-user-graduate"></i> I202311085</a>

          </div>
          <div class="worker-card">
            <img src="/assets/img/worker1.jpg" alt="Trabajador 2" class="worker-image">
            <p>Analia Fiestas Calle</p>
            <a href=""><i class="fas fa-user-graduate"></i> I202311085</a>

          </div>
          <div class="worker-card">
            <img src="/assets/img/worker1.jpg" alt="Trabajador 3" class="worker-image">
            <p>Teresa Baquerizo Quintana</p>
            <a href=""><i class="fas fa-user-graduate"></i> I202311085</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

